
<div class="container">
    <h1>Find Comics</h1>
    <div class="row align-items-end m-3">
        <div class="col">
            <p class="m-0">Keywords</p>
            <input type="text" class="form-control" placeholder="e.g. Batman" [(ngModel)]="comicQuery">

        </div>
        
        <div class="col-2">
            <ng-template #filterContainer>
            
            </ng-template>
        </div>
        <div class="col-2 me-0">
            <ng-template #sortContainer>
            
            </ng-template>
        </div>

        <div class="col-3">
            <button type="button" (click)="getData()" class="btn btn-primary h-25">Search!</button>

        </div>

    </div>
    <ng-template #comicRowContainer></ng-template>

</div>
