
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" ariaCurrentWhenActive="home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-item"><a class="nav-link" routerLink="/find-comics" href="find-comics" ariaCurrentWhenActive="find comics">Find Comics</a></li>
    <li class="navbar-item"><a class="nav-link" routerLink="/my-comics" href="my-comics" ariaCurrentWhenActive="my comics">My Comics</a></li>
    </ul>
    <div class="navbar-actions">
      <!-- Add login/logout buttons or user-related actions here -->
    </div>
  </div>
</nav>

