@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.star {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}
.filled {
    color: #1e90ff;
}
.caret {
    color: #1e90ff;

}