<div class="container mt-4">
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center">Welcome to Comic Collector!</h1>
        @if(apiLength > 0)
        {
          <ngb-alert #alert class="invisible" [class.invisible]="!apiConfirm" [type]='"success"'> API Key added successfully.</ngb-alert>

        }
        @else {
          <ngb-alert #alert class="invisible" [class.invisible]="!apiConfirm" [type]='"danger"'>There was an error adding your API key. Please try again.</ngb-alert>

        }
  

      </div>
    
        <div class="row justify-content-md-center">
            <div class="col text-center">
                <p>Find and add new comics to your list</p>
                <button type="button" (click)="buttonClick('/find-comics')" class="btn btn-primary">Go</button>

            </div>
            <div class="col text-center">
                <p >View comics you've added to your list</p>
                <button type="button" (click)="buttonClick('/my-comics')" class="btn btn-primary">Go</button>

            </div>
            
            <div class="col text-center">
                <p >Need to update your API key?</p>
                <button type="button" (click)="open()" class="btn btn-primary">Launch Setup</button>

            </div>

        </div>
      </div>

</div>